@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");
#header {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  flex-shrink: 0;
  background-color: #168A5D;
  border-bottom: 5px solid #18D68C;
  z-index: 8;
  box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.4); }
  #header #name {
    display: flex;
    align-items: center;
    font-size: 2rem; }
    #header #name #logo {
      max-width: 4rem;
      max-height: 4rem;
      background-color: #fff;
      border-radius: 100%; }
    #header #name h1 {
      margin-left: 15px;
      transition: color 125ms ease-in-out;
      color: #fff; }
    #header #name:hover h1 {
      color: #ccc; }
  #header #icons {
    display: flex;
    justify-content: flex-end;
    margin: 25px; }
    #header #icons .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #18D68C;
      color: #fff;
      font-size: 3rem;
      padding: 5px;
      margin: 0 20px 0 20px;
      transition: all 125ms ease-in-out; }
    #header #icons .icon:hover {
      color: #168A5D;
      transform: scale(1.15); }

@media only screen and (max-width: 800px) {
  #header #name {
    margin: 10px; }
    #header #name #logo {
      max-width: 3rem;
      max-height: 3rem; }
  #header #icons {
    margin: 10px; }
    #header #icons .icon {
      font-size: 2rem; } }
