@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");
#PostRenderer {
  display: flex;
  justify-content: center;
  animation: fadePushIn 250ms;
  padding: 50px; }
  #PostRenderer #post {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    width: 40vw;
    max-width: 40vw; }
    #PostRenderer #post #title {
      font-size: 2rem;
      margin: 15px;
      margin-bottom: 0;
      color: #18D68C; }
    #PostRenderer #post #date {
      font-size: 1.5rem;
      margin: 15px;
      color: #555; }
    #PostRenderer #post #content {
      font-size: 1.25rem;
      margin: 15px;
      line-height: 1.65rem;
      color: #ccc;
      word-wrap: break-word; }
      #PostRenderer #post #content * {
        margin-top: 1rem;
        margin-bottom: 1rem; }
      #PostRenderer #post #content div {
        display: flex;
        align-items: center;
        justify-content: center; }
        #PostRenderer #post #content div img {
          max-width: 50%; }
      #PostRenderer #post #content h1 {
        font-size: 2rem; }
      #PostRenderer #post #content h2 {
        font-size: 1.5rem; }
      #PostRenderer #post #content h3 {
        font-size: 1.25rem; }
      #PostRenderer #post #content h4 {
        font-size: 1.15rem; }
      #PostRenderer #post #content h5 {
        font-size: 1rem; }
      #PostRenderer #post #content h6 {
        font-size: 0.9rem; }
      #PostRenderer #post #content code {
        margin: 0; }
        #PostRenderer #post #content code span {
          margin: inherit; }
      #PostRenderer #post #content .blockCode {
        justify-content: flex-start;
        margin: 30px 0 30px 0; }

@media screen and (max-width: 1180px) {
  #PostRenderer #post {
    width: 100%;
    max-width: 80vw; } }

@media only screen and (max-width: 800px) {
  #PostRenderer {
    padding: 0;
    margin: 0;
    font-size: 0.75rem; }
    #PostRenderer #post {
      width: 100%;
      max-width: 100%;
      margin-top: 25px; }
      #PostRenderer #post #content img {
        max-width: 100%; } }
