@import '../globals';

#home {
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	width: 100%;
	max-width: 100%;

	#cover {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-shrink: 0;
		min-height: 40vh;
		background-color: map-get($colors, second-page-background);
		overflow-y: hidden;

		#PostRenderer {
			margin-left: 25vw;
			flex-shrink: 0;
			animation: fadeIn 500ms;

			#post {
				width: auto;
			}
		}
	}
	#blogHeader {
		display: flex;
		justify-content: center;
		flex-shrink: 0;
		color: map-get($colors, accent);
		margin: 20px;
		font-size: 3rem;
		text-transform: uppercase;
	}
	#blogContainer {
		display: flex;
		flex-wrap: wrap;
		flex: 1;

		#tagList {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			flex-shrink: 0;
		}

		#postList {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			flex: 1;
			flex-shrink: 0;
		}
	}
}
