@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");
#home {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 100%; }
  #home #cover {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0.5;
    height: 50vh;
    background-color: #111;
    overflow-y: hidden; }
    #home #cover #PostRenderer {
      margin-left: 25vw;
      flex-shrink: 0; }
      #home #cover #PostRenderer #post {
        width: auto; }
  #home #showcase {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin: auto;
    max-width: 50vw; }
    #home #showcase #blogHeader {
      color: #18D68C;
      margin: 20px;
      font-size: 3rem;
      text-transform: uppercase; }

@media only screen and (max-width: 800px) {
  #home {
    max-width: 100%; } }
