@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");
#home {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%; }
  #home #cover {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    min-height: 40vh;
    background-color: #111;
    overflow-y: hidden; }
    #home #cover #PostRenderer {
      margin-left: 25vw;
      flex-shrink: 0;
      animation: fadeIn 500ms; }
      #home #cover #PostRenderer #post {
        width: auto; }
  #home #blogHeader {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    color: #18D68C;
    margin: 20px;
    font-size: 3rem;
    text-transform: uppercase; }
  #home #blogContainer {
    display: flex;
    flex-wrap: wrap;
    flex: 1; }
    #home #blogContainer #tagList {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-shrink: 0; }
    #home #blogContainer #postList {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex: 1;
      flex-shrink: 0; }
