@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700');
$font-stack: 'Roboto', sans-serif;

$colors: (
	page-background: #222,
	second-page-background: #111,
	light-background: #fff,
	foreground: #333,

	accent: #18D68C,
	dark-accent: #168A5D,

	text: #ccc,
	subtext: #555,
);
